body{
  background-color: #181A1B;
  font-family: Arial Black, sans-serif;
}

h1{
  color: #1ABBFF;
}

#container{
  width: 25%;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  color: #B1AAA0;
  border-radius: 5px;
  background-color: #384454;
  text-align: center;
}

table{
  width: 100%;
}

.input{
  width: 50%;
  margin: 10px;
}
