body{
  background-color: #181A1B;
  font-family: Arial Black, sans-serif;
}

h1{
  color: #1ABBFF;
}

#container{
  width: 25%;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  color: #EEEEEE;
  border-radius: 5px;
  background-color: #384454;
  text-align: center;
}

table{
  width: 100%;
  margin-bottom: 10px;
}

td{
  text-align: center;
  color: #EEEEEE;
}

.input{
  width: 50%;
  margin: 10px;
  background-color: inherit;
  color: inherit;
  padding: 10px;
}

.bouton{
  background-color: inherit;
  border: none;
  padding: 10px;
  color: inherit;
  border-radius: 5px;
}

.bouton:hover{
  background-color: #1ABBFF;
  color: #181A1B;
}

label {
  color: #EEEEEE;
}

.erreur {
  text-align: center;
  color: red;
}

span{
  margin-left: 10%;
  margin-right: 10%;
}
