#nav {
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    background-color: #222c35;
    width: 30%;
    padding: 0em 1.5em;
    font-size: 13px;
}

#nav hr {
    width: 50%;
    color: #B1AAA0;
    margin-bottom: 2em;
}

#nav a {
    text-decoration-line: none;
    color: #EEEEEE;
    font-size: 1.5em;
    padding: 5px;
}

#nav a:hover {
    color: #BBBBBB;
}

#nav form {
    margin: 0em;
}

#nav li {
    display: flex;
}

#nav > p:first-child {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    margin-bottom: 0.3em;
}

#nav ul {
    padding-left: 0.5em;
}

.supprimer{
  float: right;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 1.5em;
    margin-right: 0.5em;
}

.supprimer:hover{
  cursor: pointer;
    color: white;
}

.raccourcis {
    font-size: 3em;
    margin: 0em 1em;
}

#nav .erreur {
    color: red;
}

#barre_raccourcis {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}