.return{
  text-decoration: none;
  color: #1ABBFF;
  padding: 10px;
  font-size: 3em;
}

body{
  background-color: #181A1B;
  font-family: Arial Black, sans-serif;
}

#container{
  width: 25%;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border-radius: 5px;
  background-color: #384454;
  color: #B1AAA0;
}

form{
  margin-bottom: 10%;
}

.modif{
  float: right;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  color: #1ABBFF;
}

#group{
  float: right;
  font-size: 3em;
  text-decoration:none;
}
