<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change login page</title>
    <link rel="stylesheet" href="../view/design/log_change.css">
  </head>
  <body>

    <header>
      <a class="return" href="../view/account.view.php">&#8592;</a>
    </header>

    <div id="container">
      <form action="../controler/modifier_login.ctrl.php" method="post">
        <table>
          <tr>
            <td><label for="old_id">Ancien identifiant</label></td>
            <td><input id="old_id" type="text" name="oi"></td>
          </tr>
          <tr>
            <td><label for="new_id">Nouvel identifiant</label></td>
            <td><input id="new_id" type="text" name="ni"></td>
          </tr>
        </table>
        <input type="submit" value="Validez">
      </form>
    </div>

  </body>
</html>
