<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change mp page</title>
    <link rel="stylesheet" href="../view/design/mp_change.css">
  </head>
  <body>

    <header>
      <a class="return" href="../view/account.view.php">&#8592;</a>
    </header>

    <div id="container">
      <form action="../controler/modifier_mp.ctrl.php" method="post">
        <table>
          <tr>
            <td><label for="old_mp">Ancien Mot de passe</label></td>
            <td><input id="old_mp" type="password" name="old_mp"></td>
          </tr>
          <tr>
            <td><label for="new_mp">Nouveau Mot de passe</label></td>
            <td><input id="new_mp" type="password" name="new_mp"></td>
          </tr>
          <tr>
            <td><label for="confirm_mp">Confirmez</label></td>
            <td><input id="confirm_mp" type="password" name="confirm_mp"></td>
          </tr>
        </table>
        <input class="bouton" type="submit" value="Validez">
      </form>
    </div>

  </body>
</html>
