<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" href="design/login.css">
  </head>
  <body>

    <h1>Login</h1>

    <div id="container">
      <form action="../controler/traitement.php" method="post">
        <table>
          <tr>
            <td><label for="l">Identifiant</label></td><td><input id="l" class="input" type="text" name="lg"></td>
          </tr>
          <tr>
            <td><label for="m">Mot de passe</label></td><td><input id="m" class="input" type="text" name="mdp"></td>
          </tr>
        </table>
        <p><input type="submit" value="Envoyer"></p>
      </form>
    </div>

  </body>
</html>
